body {
	background: #333333;
	font-size: 2rem;
	color: #FFFFFF;
}
main {
	width: 850px;
	margin: 0 auto;
	background: #FFFFFF;
	padding: 30px;
	color: #000000;
}

img {
	max-width: 100%;
	height: auto;
}

div {
	margin: 10px 5px;
}

input,
textarea {
	width: 50%;
	padding: 7px;
	color: #333333;
	font-size: 2rem;
}

textarea {
	width: 100%;
	height: 400px;
}

input:submit {
	width: 250px;
}

pre {
	font-size: 1.2rem;
	color: #880000;
	background: #EFEFEF;
	padding: 15px;
	margin: 30px 0;
}